<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="max-width: 429px; margin: auto; padding: 1% 3%; border: 1px solid #ddd; border-radius: 4px; background-color: white; height: 583px;">
<h2 style="font-size: 18px; text-align: left; color: #2879FD;">ZEDLA LOAN</h2>
<p  style="font-size: 14px; text-align: left; color: #6E717C;">LOAN APPLICATION RECEIVED </p>
<div style="margin-top: 20%;">
    <h2 style="font-size: 24px; text-align: left; font-weight: 700; color: #000;">Hello, FirstName,</h2>
    <p  style="font-size: 18px; text-align: left; font-weight: 300; color: #6E717C;">Your application for Zedla loan is currently being reviewed.  </p>
    <p  style="font-size: 18px; text-align: left; font-weight: 300; color: #6E717C;">Your application for Zedla loan is currently being reviewed.  </p>
    <ul style="list-style: none;">
        <li  style="font-size: 18px; text-align: left; font-weight: 300; color: #6E717C;"><p>Loan amount: <span style=" font-weight: 700;">N56,0000</span></p></li>
        <li  style="font-size: 18px; text-align: left; font-weight: 300; color: #6E717C;"><p>Loan duration: <span style=" font-weight: 700;">N6 months</span></p></li>
        <li  style="font-size: 18px; text-align: left; font-weight: 300; color: #6E717C;"><p> Monthly repayment: <span style=" font-weight: 700;"> N11,200</span></p></li>
        <li>
            <p  style="font-size: 18px; text-align: left; font-weight: 700; color: #6E717C;">TOTAL: N67,200</p>
        </li>
    </ul>
    <p  style="font-size: 18px; text-align: left; font-weight: 700; color: #6E717C;">Thank you.</p>
</div>
<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 2px;">
    <button
       style="background-color: #2879FD; height: 39px; width: 429px; border-radius: 4px; color: white; text-align: center; font-weight: 700; border: none;">
       Support@zedla.ng
    </button>
    <button
       style="background-color: #2879FD; height: 39px; width: 429px; border-radius: 4px; color: white; text-align: center; font-weight: 700; border: none;">
       080459769779
    </button>
</div>
    </div>
</body>
</html>